@import '../variables';

.button-primary {
    color: $black;
    background-color: $secondary-color;
    &:hover {
        transition: .2s ease-in-out;
        background-color: rgba($secondary-color, 0.8);
    }
}