@font-face {
    font-family: 'Open-Sans';
    src: url('../../../public/fonts/open/OpenSans-Regular.woff2') format('woff2'),
        url('../../../public/fonts/open/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Abhaya-Libre';
    src: url('../../../public/fonts/abhaya/AbhayaLibre-Medium.woff2') format('woff2'),
        url('../../../public/fonts/abhaya/AbhayaLibre-Medium.woff2') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}