@import '~@fortawesome/fontawesome-free/css/all.css';

// Base
@import 'base/fonts';
@import 'base/buttons';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'custom';


body {
    font-family: $text;
}

h1, h2 {
    font-family: $title;
    position: relative;
}
h2::before {
    position: absolute;
    content: "";
    bottom: -12px;
    left: 50%;
    background-color: $primary-color;
    width: 10%;
    height: 3px;
    transform: translateX(-50%);
}

.testimonials {
    background-color: $secondary-color;
}

footer {
    background-color: $secondary-color;
    padding: 80px 0 50px;
    border-top: 2px solid $primary-color;

    p{
        color: $white;
        display: flex;
        align-items: center;
        img {
            margin-left: 4px;
            width: 100px;
        }
    }
}


